<ion-view title="comerciante">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <a style="display:inline-block;" href="tel:">
            <div style="text-align:center;">
                <img src="img/5Yt8b8miQjJxK4bs65zA_mapa_brasil.jpg" width="100%" height="150">
            </div>
        </a>
        <div>
            <p align="center">
                <u>
                    <b>BAR DO ARAUJO</b>
                </u>
            </p>
            <p>
                <b>Telefone</b>
            </p>
            <p></p>
            <b>Endereço</b>
            <p></p>
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/WdnWsxTpRkKdt058pslu_cerveja.jpg">
                <h2>Skol</h2>
                <p>Caixa 12 Unidades</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/WdnWsxTpRkKdt058pslu_cerveja.jpg">
                <h2>Skin</h2>
                <p>Caixa 26 Unidades</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>