<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ionicframework.borabeber318031" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>borabeber</name>
    <description>
        App para descobrir onde vende bebida por perto e quais as mais baratas.
    </description>
    <author email="wyllsc@gmail.com" href="http://www.borabeber.com/">
      Wylliam Sant'Clair
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="16" />
    <preference name="BackupWebStorage" value="none" />
    <feature name="StatusBar">
        <param name="ios-package" onload="true" value="CDVStatusBar" />
    </feature>
    <plugin name="cordova-plugin-x-socialsharing" spec="https://github.com/EddyVerbruggen/SocialSharing-PhoneGap-Plugin.git" />
</widget>
